<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Componente 1 -->
  <app-cabecalho></app-cabecalho>
  <!-- Componente 2 -->
  <app-tabela></app-tabela>

</body>
</html>
<!-- Exercícios
1. Crie uma nova aplicação Angular. Ela deverá ter três componentes. O componente principal
(aquele que é criado automaticamente pelo Angular Cli) deve utilizar dois componentes (por meio
de seus seletores) criados por você. O primeiro deve exibir um título, contendo o nome da Fatec
Ipiranga e o seu logo. O segundo deve conter uma tabela com os nomes dos cursos que a Fatec
Ipiranga disponibiliza.
Referências
Angular. 2020. Disponível em < https://a n gular.io>. Acesso em maio de 2020. -->
