<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Componente ex1 A -->
  <app-cabecalho></app-cabecalho>
  <!-- Componente ex1 B -->
  <app-tabela></app-tabela>

</body>
</html>
<!-- Exercícios -->

<!-- 1. Crie uma nova aplicação Angular. Ela deverá ter três componentes. O componente principal
(aquele que é criado automaticamente pelo Angular Cli) deve utilizar dois componentes (por meio
de seus seletores) criados por você. O primeiro deve exibir um título, contendo o nome da Fatec
Ipiranga e o seu logo. O segundo deve conter uma tabela com os nomes dos cursos que a Fatec
Ipiranga disponibiliza.
Referências
Angular. 2020. Disponível em < https://a n gular.io>. Acesso em maio de 2020. -->

<!-- 1. Na página de exibição de cursos do seu projeto, adicione um botão que permita a adição de
novos cursos. No momento, qualquer usuário que acessar a página poderá cadastrar novos
cursos. Use dois componentes Angular: um deles exibe a lista de cursos. O outro se encarrega de
exibir os campos necessários para a entrada de dados e o botão que, quando clicado, realizar a
inserção. Faça a comunicação dos componentes utilizando binding com @Input e @Output.
2. Liste os cursos com *ngFor. -->
