<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body [ngClass]="changeMode()">
  <button type="submit" class="btn btn-primary darkmode" (click)="activateChange()" (click)="apiCorCol.hoverMouse()">Change Mode</button>
  <!-- Componente ex1 A -->
  <app-cabecalho></app-cabecalho>
  <div class="container mt-5" >
    <div class="row">
      <div class="col-md-6 coluna p-4" [appMudaCorColuna]="bgColorCol" #apiCorCol="corColNoComponente">
        <!-- Componente ex1 B -->
        <app-tabela></app-tabela>
      </div>
      <div class="col-md-6 coluna p-4" [appMudaCorColuna]="bgColorCol" #apiCorCol="corColNoComponente">
        <!-- Componente ex3 c -->
        <app-inserir-aluno></app-inserir-aluno>
      </div>
    </div>
  </div>

</body>
</html>
<!-- Exercícios -->

<!-- 1. Crie uma nova aplicação Angular. Ela deverá ter três componentes. O componente principal
(aquele que é criado automaticamente pelo Angular Cli) deve utilizar dois componentes (por meio
de seus seletores) criados por você. O primeiro deve exibir um título, contendo o nome da Fatec
Ipiranga e o seu logo. O segundo deve conter uma tabela com os nomes dos cursos que a Fatec
Ipiranga disponibiliza.
Referências
Angular. 2020. Disponível em < https://a n gular.io>. Acesso em maio de 2020. -->

<!-- 1. Na página de exibição de cursos do seu projeto, adicione um botão que permita a adição de
novos cursos. No momento, qualquer usuário que acessar a página poderá cadastrar novos
cursos. Use dois componentes Angular: um deles exibe a lista de cursos. O outro se encarrega de
exibir os campos necessários para a entrada de dados e o botão que, quando clicado, realizar a
inserção. Faça a comunicação dos componentes utilizando binding com @Input e @Output.
2. Liste os cursos com *ngFor. -->

<!-- 1. Escolha um componente do seu projeto e aplique a ele estilos CSS usando ngStyle. Defina um
método que devolve as regras desejadas.
2. Escolha um componente do seu projeto e aplique a ele classes CSS usando ngClass. Use a
versão com um objeto JSON. As chaves devem ser nomes de classes e os valores associados
devem ser valores booleanos que indicam se elas devem ser aplicadas ou não.
3. Adicione um nova página ao site. Ela permite a inserção de alunos vinculados a um curso.
Alunos têm nome, idade e e-mail. A página permite a seleção do curso a que o aluno ficará
vinculado usando um “select” HTML. Construa a página usando um form Angular (sem two way
data binding). Além do form, a página exibe a lista de alunos cadastrados (com um simples
ngFor que gera divs com a classe card do Bootstrap aplicada). -->
